@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background: #05030a;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #05030a;
}
::-webkit-scrollbar-thumb {
  background: #3b0764;
  border-radius: 999px;
}
